/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

/* HERO SECTION */
.hero {
  padding: 80px 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: #cbd5e1;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

/* SECTION */
.section {
  padding: 60px 20px;
}

/* CARD */
.card {
  background: #1e293b;
  margin: 10px auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  padding: 30px;
  font-size: 14px;
  color: #94a3b8;
}
